// FONT GOOGLE
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

// VARIBLES CSS
:root {
  // Header Height
  --header-height: 4rem;

  // Colors
  --background-color: #0f1837;
  --blue-color-1: #020b2a;
  --blue-color-2: #374267;
  --green-color: #83d987;
  --white-color: #ffffff;
  --light-grey-color: #f7f7f9;
  --grey-color: #9094a2;

  // Font Globa5
  --poppins-font: "Poppins", sans-serif;

  // Font Weight
  --light-font: 300;
  --reguler-font: 400;
  --medium-font: 500;
  --semibold-font: 600;

  // Margin
  --margin-1: 0.5rem;
  --margin-2: 1rem;
  --margin-3: 1.5rem;
  --margin-4: 2rem;
  --margin-5: 2.5rem;
  --margin-6: 3rem;

  // Z-index
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

// BASE & RESET
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--poppins-font);
  font-weight: var(--reguler-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

// LAYOUT
.l-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: 0.3s;
  z-index: var(--z-fixed);

  // BACKGROUND HEADER
  &.scroll-active {
    background-color: var(--background-color);
  }
}

.container {
  max-width: 1200px;
  width: calc(100% - 2rem);
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 2rem;
}

// HEADER SECTION
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 30px;
  }

  &__menu {
    @media screen and (max-width: 768px) {
      position: fixed;
      width: 90%;
      top: -100%;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      padding: 1.5rem;
      background-color: var(--white-color);
      backdrop-filter: blur(10px);
      border-radius: 10px;
      opacity: 0;
      transition: 0.3s;
    }
  }

  &__item {
    margin-bottom: var(--margin-3);
  }

  &__link {
    font-size: 14px;
    font-weight: var(--light-font);
    color: var(--grey-color);
  }

  &__button {
    display: flex;
    justify-content: center;
    padding: 13px 33px;
    background-color: var(--green-color);
    border-radius: 5px;
    font-size: 14px;
    font-weight: var(--medium-font);
    color: var(--blue-color-1);
  }

  &__toggle {
    font-size: 1.5rem;
    color: var(--white-color);
    cursor: pointer;
  }

  // SHOW HEADER MENU
  .show-menu {
    top: 5rem;
    opacity: 1;
  }

  // LINK ACTIVE
  .active {
    color: var(--green-color);
    font-weight: var(--medium-font);
  }
}

// HOME SECTION
.home {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-color: var(--background-color);
  z-index: var(--z-normal);

  &__container {
    height: 100%;
    align-content: center;
  }

  &__title {
    font-size: 32px;
    font-weight: var(--semibold-font);
    color: var(--white-color);
    margin-bottom: 20px;
  }

  &__text {
    font-size: 14px;
    font-weight: var(--reguler-font);
    color: var(--grey-color);
    line-height: 2;
  }

  &__direction {
    padding: 15px;
    background-color: var(--white-color);
    border-radius: 8px;
    row-gap: 1.5rem;
  }

  &__location-title,
  &__type-title {
    font-size: 14px;
    font-weight: var(--reguler-font);
    color: var(--blue-color-1);
    margin-bottom: 4px;
  }

  &__location-input,
  &__type-input {
    display: flex;
    width: 100%;
    padding: 13px 10px;
    background-color: var(--light-grey-color);
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: var(--poppins-font);
    font-weight: var(--medium-font);

    &::placeholder {
      font-size: 14px;
      font-weight: var(--reguler-font);
    }
  }

  &__explore {
    display: flex;
    justify-content: center;
    padding: 13px 33px;
    background-color: var(--green-color);
    border-radius: 6px;
    font-size: 14px;
    font-weight: var(--medium-font);
    color: var(--blue-color-1);
  }

  &__img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    z-index: var(--z-back);
  }

  // Home Union
  &__union {
    display: none;
  }
}

// FEATURED SECTION
.featured {
  padding: 80px 0 40px;
  background-color: #f5f6f8;

  &__title {
    font-size: 24px;
    font-weight: var(--medium-font);
    color: var(--blue-color-1);
    margin-bottom: 24px;
  }

  &__item {
    display: flex;
    align-items: center;

    &-number {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: var(--medium-font);
      color: #5943a6;
      padding: 10px 20px;
      border-radius: 4px;
      background-color: #e7e5f9;
    }

    &-text {
      font-size: 14px;
      color: var(--blue-color-1);
      margin-left: 20px;
    }
  }

  &__static {
    text-align: center;

    &-number {
      font-size: 30px;
      font-weight: var(--medium-font);
      color: var(--blue-color-1);
      margin-bottom: 2px;
    }

    &-text {
      font-size: 16px;
      font-weight: var(--light-font);
      color: var(--grey-color);
    }
  }

  // Featured Union
  &__union {
    display: none;
  }
}

// BEST SECTION
.best {
  position: relative;
  padding: 80px 0 150px;

  &__container {
    row-gap: 3rem;
  }

  &__data {
    &-title {
      font-size: 24px;
      font-weight: var(--medium-font);
      color: var(--blue-color-1);
      margin-bottom: 20px;
    }

    &-text {
      font-size: 14px;
      font-weight: var(--light-font);
      color: var(--grey-color);
      text-decoration: underline;
    }
  }

  &__wrapper {
    row-gap: 1.5rem;
  }

  &__card {
    display: grid;
    padding: 20px;
    border-radius: 18px;
    transition: 0.3s;

    // HOVER CARD
    &:hover {
      box-shadow: 0 0 30px rgba($color: #9094a2, $alpha: 0.1);
    }

    &-img {
      position: relative;
      margin-bottom: 20px;

      img {
        width: 100%;
        border-radius: 16px;
      }

      p {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        padding: 10px 30px;
        border-radius: 16px 0 16px 0;
        background-color: var(--white-color);
        font-size: 14px;
        font-weight: var(--reguler-font);
        color: #5943a6;
      }
    }

    &-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-place {
      font-size: 18px;
      font-weight: var(--medium-font);
      color: var(--blue-color-1);
      margin-bottom: 2px;
    }

    &-location {
      font-size: 14px;
      font-weight: var(--light-font);
      color: var(--grey-color);
    }

    &-price {
      font-size: 18px;
      font-weight: var(--medium-font);
      color: var(--green-color);
    }
  }
}

// FOOTER SECTION
.footer {
  position: relative;
  padding: 80px 0 40px;
  margin-top: 150px;
  background-color: #f5f6f8;

  &__direction {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: -50%;
    width: 95%;
    padding: 15px;
    background-color: var(--background-color);
    border-radius: 8px;
    row-gap: 1.5rem;
  }

  &__name-title,
  &__email-title {
    font-size: 14px;
    font-weight: var(--reguler-font);
    color: var(--white-color);
    margin-bottom: 4px;
  }

  &__name-input,
  &__email-input {
    display: flex;
    width: 100%;
    padding: 13px 10px;
    background-color: var(--light-grey-color);
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: var(--poppins-font);
    font-weight: var(--medium-font);

    &::placeholder {
      font-size: 14px;
      font-weight: var(--reguler-font);
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 33px;
    background-color: var(--green-color);
    border-radius: 6px;
    font-size: 14px;
    font-weight: var(--medium-font);
    color: var(--blue-color-1);
  }

  &__copy {
    font-size: 14px;
    font-weight: var(--light-font);
    color: var(--grey-color);
    text-align: center;
    margin-top: 120px;
  }
}

// MEDIA QUERIES
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  // HEADER SECTION
  .nav {
    position: relative;
    height: calc(var(--header-height) + 2rem);

    &__logo {
      width: 40px;
    }

    &__menu {
      display: flex;
      align-items: center;
    }

    &__item {
      margin: 0 var(--margin-3);
    }

    &__list {
      position: absolute;
      display: flex;
      transform: translateX(-50%);
      left: 50%;
    }

    &__link,
    &__button {
      font-size: 16px;
    }

    &__toggle {
      display: none;
    }
  }

  // HOME SECTION
  .home {
    height: 100vh;

    &__container {
      height: 100%;
      align-content: center;
    }

    &__title {
      font-size: 48px;
    }

    &__text {
      font-size: 16px;
    }

    &__direction {
      width: 60%;
      grid-template-columns: 1fr 1fr 0.8fr;
    }

    &__explore {
      padding: 26px 0;
      font-size: 16px;
    }

    &__img {
      position: absolute;
      bottom: 0;
      right: 5%;
      width: 570px;
      z-index: var(--z-back);
    }

    // Home Union
    &__union {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -12;
    }
  }

  // FEATURED SECTION
  .featured {
    position: relative;

    &__container {
      row-gap: 100px;
    }

    &__content {
      grid-template-columns: 1.5fr 1fr;
      column-gap: 100px;
      z-index: var(--z-normal);
    }

    &__img {
      width: 520px;
      justify-self: center;
    }

    &__data {
      align-self: center;
    }

    &__title {
      font-size: 32px;
      margin-bottom: 48px;
    }

    &__item {
      &-number {
        font-size: 22px;
      }

      &-text {
        font-size: 16px;
      }
    }

    &__static {
      grid-template-columns: repeat(3, 1fr);
      margin: 0 150px;
      z-index: var(--z-normal);

      &-data {
        justify-self: center;
      }

      &-number {
        font-size: 36px;
      }
    }

    // Featured Union
    &__union {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  // BEST SECTION
  .best {
    padding-bottom: 70px;

    &__container {
      row-gap: 3rem;
    }

    &__data {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-title {
        font-size: 32px;
        margin-bottom: 0;
      }

      &-text {
        font-size: 16px;
      }
    }

    &__wrapper {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }

  // FOOTER SECTION
  .footer {
    margin-top: 70px;

    &__direction {
      width: 60%;
      top: -25%;
      grid-template-columns: 1fr 1fr 0.8fr;
    }

    &__button {
      font-size: 16px;
    }

    &__copy {
      font-size: 16px;
      margin-top: 50px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    margin: 0 auto;
  }
}
